.txleft {
    text-align: left;
}
.nobdr {
    border: none;
}

.w300 {
    width: 300px;
}
.w400 {
    width: 400px;
}
.w500 {
    width: 500px;
}
.w600 {
    width: 600px;
}
.w800 {
    width: 800px;
}
.w1000 {
    width: 1000px;
}
.w1200 {
    width: 1200px;
}
